@{
    Layout = null;
 }
<html>
    <head>
        <title>our work test</title>
        <link rel="stylesheet" type="text/css" href="/Content/Cars.css">
        <script type="text/javascript" src="../Scripts/knockout-3.3.0.js"></script>
        <script type="text/javascript" src="../Scripts/knockout-3.3.0.debug.js"></script>
       </head>
    <body>
        <span>Polina davay vspominay</span>
        @model List<MvcApplication4.Controllers.Cars>


        <p>First name: <strong data-bind="text: firstName"></strong></p>
        <p>First name: <input data-bind="value: firstName"/></p>
        <p data-bind= "text: fullBob">Profession is: </p>
        <button data-bind="click: capitalizeName">goCaps</button>
        <div data-bind="foreach: list">
            <p data-bind="text: $data">
        </div>

        <script type="text/javascript">
            function bobViewModel() {
                this.firstName = ko.observable('Bob');
                this.fullBob = ko.computed(function(){
                    return this.firstName()+' our stroika';
                }, this);
                this.capitalizeName = function () {
                    var currentValue = this.firstName();
                    this.firstName(currentValue.toUpperCase());
                };
            }
            ko.applyBindings(new bobViewModel());
        </script> 

        <div>
            @foreach (var item in Model)
            {
                <div class="car" style="background-color: @item.color">
                    <p>@item.model
                    <br />		
                    <input class= "inputCar" data-bind = "value: carName"/> 
                    <br />                  
                    CarName: <strong data-bind = "text: carName"></strong>
                    </p>
                    
               </div>
            }
        </div>
        <script type="text/javascript">
            function myViewModel() {
            	this.carName = ko.observableArray(
								[]
								);
                //this.fullName = 'www.' + this.carName + '.ru';
            }
            ko.applyBindings(new myViewModel());
        </script>
    </body>
</html>
